<div class="container">
  <form class="form-signin text-center">
      
      <h3 class="text-white">Consulta</h3>
      <input type="user" [(ngModel)]="opcion"  placeholder="Numero de consulta" name="password" id="password" class="form-control" required="" autofocus="">
      <button class="btn btn-lg btn-primary btn-block" (click)="cambio()" type="submit">Buscar</button>
      
      <h1 class="text-white">{{consulta}}</h1>

      <div class="card-group bg-transparent"  role="group" id="errores" *ngIf="tabla">
          <div _ngcontent-srk-c16="" class="card table-responsive"  >
              <table class="table table-bordered table-striped text-center" id="tabla">
                  <thead>
                      <tr>
                          <th scope="col">{{c1}}</th>
                          <th scope="col">{{c2}}</th>
                          <th scope="col">{{c3}}</th>
                          <th scope="col">{{c4}}</th>
                      </tr>
                  </thead>
                  
                  <tbody id="infoTabla" >
                      <tr *ngFor="let p of valor">
                          <td>{{p.c1}}</td>
                          <td>{{p.c2}}</td>
                          <td>{{p.c3}}</td>
                          <td>{{p.c4}}</td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
      
  </form>
</div>


    